.div-text {
    display: flex;
    gap: 15px;

}

.header {
    display: flex;
    justify-content: space-between;
}

div>ul {
    display: flex;
}

div li {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}

div li a {
    text-decoration: none;
    color: #424247;
}

.color {
    color: #FF5400;
}

.text {
    font-size: 3em;


}

.banner {
    color: #fff;
    background-image: url('../images/Group\ 13\ \(1\)\ \(1\).png');
    width: 1170px;
    height: 450px;
    text-align: center;
    border-radius: 16px;
    padding-top: 50px;
}

.bg-clr {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.30);
    height: 50px;
    padding: 50px;
}

.space {
    padding: 20px;
    width: 170px;
    border-radius: 8px;
    border: 0px;
}

button {
    color: #fff;
    background-color: #FF5400;
}

.main {
    display: flex;
    margin-top: 70px;
    margin-right: 25px;
    gap: 50px;

}

.black {
    color: black;
    font-size: 2em;
}

.class {
    color: rgba(19, 19, 24, 0.70);
}

.orenge {
    color: #fff;
    border: 0;
    padding: 20px;
    width: 200px;
    border-radius: 8px;
}

.center {
    text-align: center;
    padding-top: 30px;
}

.picture {
    display: flex;
    gap: 20px;
    width: 573px;
    height: 300px;
    padding-bottom: 20px;
    padding-top: 50px;
}
.pink{
    background-color: rgba(251, 181, 99, 0.05);
    width: 573px;
height: 284px;
padding: 35px;
border-radius: 16px;
}
.blue{
    background-color: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 284px;
    padding: 35px;
    border-radius: 16px;
}
.flex{
    display: flex;
    border-radius: 16px;
    gap: 20px;
}
.price{
    background-color: rgba(233, 68, 68, 0.05);
     width: 573px;
     height: 284px; 
    border-radius: 16px;
    padding: 35px;
}
.display{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.gray{
    color: #5A5A5D;
}
.size{
    width: 393px;
height: 52px;
border-radius: 8px;
border: 0px;
background-color: rgba(19, 19, 24, 0.05);

}
.subscribe{
    width: 393px;
    height: 52px;
    border-radius: 8px;
    border: 0px
}
.gap{
    border: 1px solid #FF5400;
width: 400px;
height: 400px;
padding: 20px;
margin: 20px;
}
.offer{
    background: #FF5400;
    width: 280px;
height: 100px;
padding: 40px;
transform: rotate(-19.628deg);
border-radius: 16px;
color: #fff;
font-size: 1.5em;
position: absolute;
bottom: 100px;
right: 30px;
}
.nav-offer{
    background-image: url('../images/Rectangle\ 8\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    width: 672px;
height: 422px;
margin: 15px;
}
.nav-gap{
 display: flex;
 gap: 20px;
position: relative;
}
.bold{
    font-size: 2em;
}
.nav-name{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.footer{
    text-align: center;
    background-color: rgba(19, 19, 24, 0.05);
    width: 1000px;
height: 500px;
padding: 200px;
gap: 50px;
}